body{
    background-color:#212121;
    width:160%;
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 80%;
    display: grid;
    grid-template-columns:1fr 1fr;
    
}

#name{
    text-align:justify;
    color:#03A9F4;
    font-size: 35px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }

h1{
    text-align: left;
    font-size: 35px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2{
    text-align: justify;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.resume{
    display: grid;
    grid-template-columns: 5fr 5fr;
    height: 100%;
    text-align: justify;
    margin:none;
    font-family: Helvetica, Arial, sans-serif;
    width:111%
}

aside{
    padding: 0px;
    height:100.2%;
    text-align: justify;
    background-color: #03A9F4;
    width:25%;
    margin-left:auto;
    font-family: Helvetica, Arial, sans-serif;
}


img{
    display: block;
    height:140px;
    width: 140px;
    text-align: center;
    margin: auto;
    border-radius: 50% 50%;
    border: 5px solid #2196F3 ;
    }

#info1{
    background-color: #263238;
    color:#03A9F4;
    padding: 5px;
    font-size: 20px;
    font-style: thick;
    width:98%;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

#info2{
    background-color: #263238;
    color:#03A9F4;
    padding: 5px;
    font-size: 20px;
    font-style: thick;
    width:98%;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    }

#info3{
    background-color: #263238;
    color:#03A9F4;
    padding: 5px;
    font-size: 20px;
    font-style: thick;
    width:98%;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}


.info4{
    padding: 10px;
    word-spacing: 2px;
}

.info5{
    padding: 10px;
}

.info3{
    padding: 10px;
}

.infome{
    padding: 20px;
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
    height: 97.55%;
    width:50%;
}

#hr{
    text-decoration: #03A9F4 underline;
}
.reference{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align:left;
    font-size: 100%;
}

.inform{
    text-align: left;
    display:grid;
}

hr{
    color:#03A9F4;
}

.content{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.inf2{
    text-align: left;
}

ul{
    margin-left: -4em;
}

.fas{
    color:#03A9F4;
}

.fab{
    color:#03A9F4;
}
.fa-plane, .fa-drum, .fa-paw, .fa-gamepad{
    color:black;
}

#education{
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bolder;
}

#experience{
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bolder;
}

#reference{
    font-size: 20px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bolder;
}
